@page "{id:int}"
@model PhamMinhNhatRazorPages.Pages.FlowerBouquets.EditModel
@{
}

<div class="container" style="width: 24%; margin-top: 52px">
    <h2 class="text-center">Flower Bouquet Infor</h2>
    <form method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Id</label>
            <input type="text" id="form2Example1" class="form-control"  readonly />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Name</label>
            <input type="text" id="form2Example2" class="form-control"  />
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Description</label>
            <input type="email" id="form2Example2" class="form-control"  />
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="number" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Unit Price</label>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Units In Stock</label>
            <input type="number" id="form2Example2" class="form-control"  />
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Status</label>
            <input type="tel" id="form2Example2" class="form-control"  />
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Category</label>
            <input type="text" id="form2Example2" class="form-control" />
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Supplier</label>
            <input type="text" id="form2Example2" class="form-control" />
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>

    </form>
</div>