@page
@model PhamMinhNhatRazorPages.Pages.AdminScreenModel
@{
}

<div class="container text-center">
    <h1>Admin Screen</h1>
    <a class="btn btn-outline-dark" href="Customers/Index">Customer Management</a>
    <a class="btn btn-outline-dark"  href="FlowerBouquets/Index">Flower Management</a>
    <a class="btn btn-outline-dark"  href="Orders/Index">Order Management</a>
</div>