@page
@model PhamMinhNhatRazorPages.Pages.AdminScreenModel
@{
}

<div class="container text-center">
    <h1>Admin Screen</h1>
    <a href="Customers/Index">Customer Management</a>
    <a href="FlowerBouquets/Index">Flower Management</a>
    <a href="Orders/Index">Order Management</a>
</div>