@page
@model PhamMinhNhatRazorPages.Pages.CustomerScreenModel
@{
}
<div class="container text-success text-center">
    <h1>Customer Screen</h1>
    <a class="btn btn-outline-dark" href="Customers/MyCustomer">My Profile</a>
    <a class="btn btn-outline-dark" href="Orders/MyOrder">My Order</a>
</div>