@page
@model PhamMinhNhatRazorPages.Pages.CustomerScreenModel
@{
}
<div class="container text-center">
    <h1>Customer Screen</h1>
    <a href="Customers/MyCustomer">My Profile</a>
    <a href="Orders/MyOrder">My Order</a>
</div>