@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}


<div class="container" style="width: 24%; margin-top: 52px">
    <h2 class="text-center">Login</h2>
    <form method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" name="email"/>
            <label class="form-label" for="form2Example1" asp-for="LoginMember.Email">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" name="password" />
            <label class="form-label" for="form2Example2" asp-for="LoginMember.Password">Password</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

    </form>
</div>

